.highlights-container {
  height: 500px;
}

.title-container {
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
}

.title-container > p {
  margin: 0;
  margin-right: 10px;
  color: white;
  font-size: 22px;
  font-weight: 900;
}

.title-container > span {
  color: #345c7d;
  font-weight: 900;
  padding-bottom: 0;
  border-bottom: 5px solid #f5717f;
  font-size: 22px;
}

.display-card-one {
  display: flex !important;
  justify-content: space-around;
}


.display-card-two {
  display: flex !important;
  justify-content: space-around;
}
