.newsletter-container {
  display: flex;
  flex-direction: column;
  height: 187px;
  background-color: #F5717F;
  align-items: center;
  justify-content: center;
}

.title-newsletter-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  text-align: center;
  color: white;
}

.title-newsletter-container > h1 {
  font-size: 22px;
  font-weight: 700;
}

.title-newsletter-container > p {
  font-size: 14px;
  font-weight: 400;
}

@media only screen and (max-width: 814px) {
  .input-newsletter {
    display: flex;
    width: 90%;
    height: 52px;
  }

  .input-newsletter > input {
    width: 100%;
    border: none;
    border-radius: 3px 0 0 3px;
  }

  .input-newsletter > button {
    border-style: none;
    background-color: white;
    border-radius: 0 3px 3px 0;
    color: #345C7D;
    font-weight: 700;
    padding-right: 10px;
  }

  .input-newsletter > input::placeholder {
    font-style: italic;
    color: #AAAAAA;
    padding-left: 10px;
  }

}

