.nav-container {
  height: 50px;
  background-color: #F5717F;
}

a {
  color: inherit;
  text-decoration: none;
}

a:hover {
  color: #6c5b7a;
}

.nav-container > ul {
  list-style: none;
  padding: 0;
  display: flex;
  justify-content: space-around;
  align-items: center;
  color: white;
  font-weight: 900;
  height: 100%;
}
