.image-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.banner-image {
  height: 380px;
  width: 100%;
}

.slick-dots > .slick-active > button::before {
  color: #345c7d !important;
}

.carrousel-container {
  height: max-content;
  margin-bottom: 50px;
  width: 100%
}