.social-containers {
  background-color: #F1F1F1;
  height: 275px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.title-social {
  font-weight: 700;
  font-size: 16px;
  color: #345C7D;
  margin: 10px;
}

.social-nav {
  display: flex;
  justify-content: space-around;
  width: 90%;
}

.social-nav > a > p {
  font-size: 14px;
  font-weight: 500;
  color: #345C7D;
  text-align: center;
  margin: 10px
}

.cards-social > img {
  margin: 10px 5px;
}