@media only screen and (min-width: 815px) {
  .logo {
    width: 160px;
  }
  
  .header-container {
    display: flex;
    background-color: #f7b094;
    height: 150px;
  }
  
  .header-box {
    justify-content: space-between;
    display: flex;
    margin: 0 30px;
    width: 100%;
    align-items: center;
  }
  
  .logo-box {
    width: 20%;
  }  
}
@media only screen and (max-width: 814px) {
  .header-container {
    display: flex;
    height: 60px;
    width: 100%;
    justify-content: space-between;
    background-color: #f7b094;
  }
  
  .logo {
    width: 84px;
  }

  .header-box {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}